<h1><%= @user.name.titleize %></h1>
<h2> My Current Songs </h2>
<% if @any_songs %>
  <% @user_songs.each do |song| %>
    <div>
         <%= format_song(song, @user) %>
         <%= link_to "Delete", user_song_path(@user, song), 
                   data: { confirm: 'Are you sure?'}, method: :delete %>  
    </div>
  <% end %>
  <div> <%= link_to "Add Song", new_user_song_path(@user) %> </div>
<% else %>
  <div> No songs </div>
   <!-- Replace redundancy?-->
  <div> <%= link_to "Add Song", new_user_song_path(@user) %> </div>
<% end %>
