<div class="row">
  <div class="span6 offset3">
    <%= form_for([@user, @song]) do |f| %>
      <%= render 'shared/error_messages', object: @song %>
      <%= f.label :title, "Song Title" %>
      <%= f.text_field :title %>
      
      <div>
      <%= f.label :privacy, "Private?" %>
      <%= f.check_box :privacy %>
      </div>

      <%= f.submit "Create song" %>
    <% end %>
  </div>
</div>
