<h1> <%= @user.name.titleize %> Songs </h1>
<% if @any_songs %>
  <h2 class="play_song">Play Song</h2>
  <section id="audio">
  </section>
  <table class="song_index">
    <thead>
      <th colspan="3" >Songs</th>
    </thead>
    <tbody>
      <% @songs.to_enum.with_index(1) do |song, index| %>
        <tr>
          <% if @uploaded_songs.include? song.title + '.mp3' %>
            <td><%= link_to song.title, user_song_path(@user, song) %></td>
            <td>
              <div id="<%= "jquery_jplayer_#{index}" %>"></div>
              <div id="<%= "jp_container_#{index}" %>">
               <a href="#" class="jp-play">Play</a>
               <a href="#" class="jp-pause">Pause</a>
              </div>
            </td>
            <td><%= link_to "Download", url_for_song(@user, song), class: "download-url", id: "download-url-#{index}" %></td>
          <% else %>
            <td><%= song.title %></td>
          <% end %>
        <tr>
    </tbody>
<% end %>
  </table>
<% else %>
  <div> No Songs for this band </div> 
<% end %>
<div> <%= link_to "See other bands", users_path, class: 'links' %> </div>
