<ul>
  <h2>Upload Song</h2>
  <div>Only upload songs which you have the creative rights to.</div>
  <%= form_tag upload_path, :method => "post", :multipart => true do %>
    <%= file_field_tag "mp3file" %>
    <%= submit_tag "upload" %>
  <% end %>
  <h2> Play Songs </h2>
  <%= @songs.each do |song| %>
    <% #change this part to a scope later %>
    <% unless @songs.privacy %>
      <td><%= song.title %></td>
    <% end %> 
  <% end %> 
</ul>
