<h2>Upload Song</h2>
<div>Only upload songs which you have the creative rights to.</div>
<%= form_for(@song) do |s| %>
  <%= render 'shared/error_messages', object: @song %>
  <%= f.label :name, "Song Title" %>
  <%= f.text_field :name %>
 
  <%= f.label :privacy, "Private?" %> 
  <%= f.selector [[true, "true"], [false, "false"]]%>

  <%= f.submit, "Upload Song" %> 
<% end %>

<div>
<%= form_tag upload_path, :method => "post", :multipart => true do %>
  <%= file_field_tag "mp3file" %>
  <%= submit_tag "upload" %>
<% end %>
</div>
